<a href="https://colab.research.google.com/github/uswa193/ppl-prak/blob/main/Heart_Disease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import scipy.stats as stats

data = pd.read_csv("heart_disease_patients.csv")
print(data)
variabel = ('age','trestbps','chol','thalach','oldpeak')

      id  age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      1   63    1   1       145   233    1        2      150      0      2.3
1      2   67    1   4       160   286    0        2      108      1      1.5
2      3   67    1   4       120   229    0        2      129      1      2.6
3      4   37    1   3       130   250    0        0      187      0      3.5
4      5   41    0   2       130   204    0        2      172      0      1.4
..   ...  ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298  299   45    1   1       110   264    0        0      132      0      1.2
299  300   68    1   4       144   193    1        0      141      0      3.4
300  301   57    1   4       130   131    0        0      115      1      1.2
301  302   57    0   2       130   236    0        2      174      0      0.0
302  303   38    1   3       138   175    0        0      173      0      0.0

     slope
0        3
1        2
2        2
3        3
4        1
..     ...
298      2
299      2
300      2
301      2
302      1

[303 rows x 12 columns]

In [ ]:
dataMiss = data.isna().sum()

print(dataMiss)

data = data.dropna()

print(data)

id          0
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
dtype: int64
      id  age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      1   63    1   1       145   233    1        2      150      0      2.3
1      2   67    1   4       160   286    0        2      108      1      1.5
2      3   67    1   4       120   229    0        2      129      1      2.6
3      4   37    1   3       130   250    0        0      187      0      3.5
4      5   41    0   2       130   204    0        2      172      0      1.4
..   ...  ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298  299   45    1   1       110   264    0        0      132      0      1.2
299  300   68    1   4       144   193    1        0      141      0      3.4
300  301   57    1   4       130   131    0        0      115      1      1.2
301  302   57    0   2       130   236    0        2      174      0      0.0
302  303   38    1   3       138   175    0        0      173      0      0.0

     slope
0        3
1        2
2        2
3        3
4        1
..     ...
298      2
299      2
300      2
301      2
302      1

[303 rows x 12 columns]

In [ ]:
data = data[(np.abs(stats.zscore(data)) < 3).all(axis=1)]

outliers = []
def detect_outlier(data):

    threshold = 3
    mean_1 = np.mean(data)
    std_1 = np.std(data)

    for y in data:
        z_score= (y - mean_1)/std_1
        if np.abs(z_score) > threshold:
            outliers.append(y)
    return outliers

for var in variabel:
    outlier_datapoints = detect_outlier(data[var])
    print("Outlier ", var, " = ", outlier_datapoints)

print()

Outlier  age  =  []
Outlier  trestbps  =  []
Outlier  chol  =  [394]
Outlier  thalach  =  [394]
Outlier  oldpeak  =  [394, 4.4]

In [ ]:
z_scores = stats.zscore(data)
abs_z_scores = np.abs(z_scores)
filtered_entries = (abs_z_scores < 3).all(axis=1)
new_data = data[filtered_entries]

print(new_data)

      id  age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      1   63    1   1       145   233    1        2      150      0      2.3
1      2   67    1   4       160   286    0        2      108      1      1.5
2      3   67    1   4       120   229    0        2      129      1      2.6
3      4   37    1   3       130   250    0        0      187      0      3.5
4      5   41    0   2       130   204    0        2      172      0      1.4
..   ...  ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298  299   45    1   1       110   264    0        0      132      0      1.2
299  300   68    1   4       144   193    1        0      141      0      3.4
300  301   57    1   4       130   131    0        0      115      1      1.2
301  302   57    0   2       130   236    0        2      174      0      0.0
302  303   38    1   3       138   175    0        0      173      0      0.0

     slope
0        3
1        2
2        2
3        3
4        1
..     ...
298      2
299      2
300      2
301      2
302      1

[292 rows x 12 columns]

In [ ]:
print(data.isna().sum())

id          0
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
dtype: int64

In [ ]:
# Baca Data
df = pd.DataFrame(data)
print(df)

# Normalisasi data
min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(df)
df_normalized = pd.DataFrame(np_scaled)

# Pembacaan data setelah dinormalisasi
print("\nData hasil normalisasi:\n", df_normalized)

      id  age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      1   63    1   1       145   233    1        2      150      0      2.3
1      2   67    1   4       160   286    0        2      108      1      1.5
2      3   67    1   4       120   229    0        2      129      1      2.6
3      4   37    1   3       130   250    0        0      187      0      3.5
4      5   41    0   2       130   204    0        2      172      0      1.4
..   ...  ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298  299   45    1   1       110   264    0        0      132      0      1.2
299  300   68    1   4       144   193    1        0      141      0      3.4
300  301   57    1   4       130   131    0        0      115      1      1.2
301  302   57    0   2       130   236    0        2      174      0      0.0
302  303   38    1   3       138   175    0        0      173      0      0.0

     slope
0        3
1        2
2        2
3        3
4        1
..     ...
298      2
299      2
300      2
301      2
302      1

[294 rows x 12 columns]

Data hasil normalisasi:
            0         1    2         3         4         5    6    7   \
0    0.000000  0.708333  1.0  0.000000  0.593023  0.399254  1.0  1.0
1    0.003311  0.791667  1.0  1.000000  0.767442  0.597015  0.0  1.0
2    0.006623  0.791667  1.0  1.000000  0.302326  0.384328  0.0  1.0
3    0.009934  0.166667  1.0  0.666667  0.418605  0.462687  0.0  0.0
4    0.013245  0.250000  0.0  0.333333  0.418605  0.291045  0.0  1.0
..        ...       ...  ...       ...       ...       ...  ...  ...
289  0.986755  0.333333  1.0  0.000000  0.186047  0.514925  0.0  0.0
290  0.990066  0.812500  1.0  1.000000  0.581395  0.250000  1.0  0.0
291  0.993377  0.583333  1.0  1.000000  0.418605  0.018657  0.0  0.0
292  0.996689  0.583333  0.0  0.333333  0.418605  0.410448  0.0  1.0
293  1.000000  0.187500  1.0  0.666667  0.511628  0.182836  0.0  0.0

           8    9         10   11
0    0.543860  0.0  0.522727  1.0
1    0.175439  1.0  0.340909  0.5
2    0.359649  1.0  0.590909  0.5
3    0.868421  0.0  0.795455  1.0
4    0.736842  0.0  0.318182  0.0
..        ...  ...       ...  ...
289  0.385965  0.0  0.272727  0.5
290  0.464912  0.0  0.772727  0.5
291  0.236842  1.0  0.272727  0.5
292  0.754386  0.0  0.000000  0.5
293  0.745614  0.0  0.000000  0.0

[294 rows x 12 columns]